body{
    background: url(../image/keyboard.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.MyDialog.ui-dialog .ui-dialog-content {
    padding: 0px !important;
    background: aliceblue !important;
    opacity: 1 !important;
 }