<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.NecesidadMapper">

    <insert id="registrarNecesidad">
        INSERT INTO Necesidades(nombre,descripcion,urgencia,estado,categoria,usuario,fecha_creacion,fecha_modificacion)
        VALUES(#{nombre},#{descripcion},#{urgencia},#{estado},#{categoria},#{usuario},#{fecha_creacion},#{fecha_modificacion});
    </insert>

    <select id="consultarNecesidades" resultMap="NecesidadResult">
        SELECT
        id_necesidad AS ne_idnecesidad,
        nombre AS ne_nombre,
        descripcion AS ne_descripcion,
        urgencia AS ne_urencia,
        estado AS ne_estado,
        categoria AS ne_categoria,
        usuario AS ne_usuario,
        fecha_creacion AS ne_fechacre,
        fecha_modificacion AS ne_fechamod
        FROM Necesidades;
    </select>

    <select id="consultarNecesidadesPorEstado" resultMap="NecesidadResult">
        SELECT
        id_necesidad AS ne_idnecesidad,
        nombre AS ne_nombre,
        descripcion AS ne_descripcion,
        urgencia AS ne_urencia,
        estado AS ne_estado,
        categoria AS ne_categoria,
        usuario AS ne_usuario,
        fecha_creacion AS ne_fechacre,
        fecha_modificacion AS ne_fechamod
        FROM Necesidades
        WHERE #{estado} = estado;
    </select>

    <select id="consultarNecesidadesPorCategoria" resultMap="NecesidadResult">
        SELECT
        id_necesidad AS ne_idnecesidad,
        nombre AS ne_nombre,
        descripcion AS ne_descripcion,
        urgencia AS ne_urencia,
        estado AS ne_estado,
        categoria AS ne_categoria,
        usuario AS ne_usuario,
        fecha_creacion AS ne_fechacre,
        fecha_modificacion AS ne_fechamod
        FROM Necesidades
        WHERE #{categoria} = categoria;
    </select>

    <select id="consultarNecesidadPorID" resultMap="NecesidadResult">
        SELECT
        id_necesidad AS ne_idnecesidad,
        nombre AS ne_nombre,
        descripcion AS ne_descripcion,
        urgencia AS ne_urencia,
        estado AS ne_estado,
        categoria AS ne_categoria,
        usuario AS ne_usuario,
        fecha_creacion AS ne_fechacre,
        fecha_modificacion AS ne_fechamod
        FROM Necesidades
        WHERE #{ID} = id_necesidad;
    </select>

    <update id="actualizarEstadoNecesidadPorID">
        UPDATE Necesidades
        SET estado = #{estado}, fecha_modificacion = CURRENT_DATE
        WHERE id_necesidad = #{ID};
    </update>


    <delete id="eliminarNecesidad" parameterType="map">
        DELETE FROM necesidades
        WHERE id_necesidad = #{ID};
    </delete>

    <resultMap id="NecesidadResult" type="Necesidad">
        <id property="id_necesidad" column="ne_idnecesidad"/>
        <result property="nombre" column="ne_nombre" />
        <result property="descripcion" column="ne_descripcion" />
        <result property="urgencia" column="ne_urgencia" />
        <result property="estado" column="ne_estado" />
        <result property="categoria" column="ne_categoria" />
        <result property="usuario" column="ne_usuario" />
        <result property="fecha_creacion" column="ne_fecha_creacion" />
        <result property="fecha_modificacion" column="ne_fecha_modificacion" />
    </resultMap>

</mapper>

