html {
    background-image: linear-gradient(to top, #000000, #250000, #580000, #960000, #ff0000);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.form {
    width: 100%;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
}

i {
    font-size:64px;
    margin-bottom: 30px;
    color: #7e1323;
}

a {
    text-decoration: none;
    color: #000;
    line-height: 1em;
    width: 425px;
    margin: auto;
}

p {
    width: 50%;
    display: block;
    margin: 25px;
    text-align: justify;
}


.card {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-conten
}
